<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hi <%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= link_to :view_event, public_event_url(@event) %></p>
  </body>
</html>